<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hello World App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hello world</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card *ngIf="show">
      <ion-card-header>
        <ion-card-title>Hola Mundo</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        
      </ion-card-header>
    
      <ion-card-content class="ion-text-wrap">
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    <ion-button  (click)="show=!show" color="success">Click me</ion-button>
  </div>
</ion-content>
